<footer class="flex justify-center px-4 text-gray-900">
  <div class="container py-6">
    <hr class="h-px mt-6 bg-gray-100 border-none">
    <div class="flex flex-col items-center justify-between mt-6 md:flex-row">
      <a
        href="/"
        class="text-md">
        {{@site.title}} © {{date format="YYYY"}}
      </a>
      <div class="flex mt-4 md:m-0">
        <a
          class="badge"
          href="https://ghost.org/"
          target="_blank"
          rel="noopener noreferrer">
          Published with Ghost & TinyWins
        </a>
      </div>
    </div>
  </div>
</footer>