{{!--
Re-usable hero section
--}}

<div class="flex justify-around text-center py-16 md:px-16">
	<div>
		<h1 class="text-3xl text-gray-800 dark:text-gray-200 md:text-4xl">
			Follow our epic journey <br class="block"> with our monthly newsletter!
		</h1>
		<br class="block">

		{{#if @member}}
			<button
				class="w-1/2 justify-center rounded-full hover:bg-purple-600 bg-purple-700 text-white text-1xl p-4"
				data-portal="account">
				Account
			</button>
			{{else}}
			<button
				class="w-1/2 justify-center rounded-full hover:bg-purple-600 bg-purple-700 text-white text-1xl p-4"
				data-portal="signup">
				Subscribe
			</button>
		</div>
		{{/if}}
	</div>
</div>